<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- prevent gazebo from merging frames with fixed joints-->
    <gazebo>
        <plugin
            filename="libignition-gazebo-joint-state-publisher-system.so"
            name="ignition::gazebo::systems::JointStatePublisher">
            <topic>/right_hand/joint_states</topic>
        </plugin>
    </gazebo>

</robot>